

@use 'mixins/mixins' as *;

$types:('primary','danger','warning','success', 'info', 'text');
.ef-button {
  @each $t in $types{
    @if($t != text) {
      #{--color-#{$t}}: var(--ef-color-#{$t});
      #{--color-hover-#{$t}}: var(--ef-color-#{$t}-light-3);
    }
  }
  --ef-transition-duration: 0.3s;
  --ef-transition-duration-fast: 0.2s;

  --ef-font-size-base: 14px;
  --ef-border-radius-base: 4px;

  --ef-fill-color-light: #f5f7fa;
  --ef-fill-color-lighter: #fafafa;
  --ef-text-color-regular: #606266;
}

@each $t in $types{
  .ef-button--type-#{$t} {
    @if($t == info) {
      background-color: #fff;
      color: #333;
      border-color: #dcdcdc;
      &:not(.ef-disabled):hover {
        color: var(--color-hover-primary);
        border-color: var(--color-hover-primary);
      }
    } @else if($t == text) {
      background-color: transparent;
      color: var(--color-primary);
      border-color: transparent;
      &:not(.ef-disabled):hover {
        color: var(--color-hover-primary);
      }
    } @else {
      background-color: var(--color-#{$t});
      color: #fff;
      border-color: var(--color-#{$t});
      &:not(.ef-disabled):hover {
        background-color: var(--color-hover-#{$t});
        border-color: var(--color-hover-#{$t});
      }
    }
  }
}
.ef-button-inner {
  display: inline-flex;
  align-items: center;
}