:root {
  --color-primary: #0052d9;
  --color-danger: #E34D59;
  --color-warning: #ed7b2f;
  --color-success: #00a870;
  --color-info: #909399;

  --color-hover-primary: #176eff;
  --color-hover-danger: #f36d78;
  --color-hover-warning: #f2995f;
  --color-hover-success: #48c79c;
  --color-hover-info: #b1b3b8;

  --ef-transition-duration: 0.3s;
  --ef-transition-duration-fast: 0.2s;

  --ef-font-size-base: 14px;
  --ef-border-radius-base: 4px;

  --ef-fill-color-light: #f5f7fa;
  --ef-fill-color-lighter: #fafafa;
  --ef-text-color-regular: #606266;
}