$types:('primary','danger','warning','success', 'info', 'text');

.ef-link {
  color: #333;
  outline: none;
  text-decoration: none;
  &:not(.ef-disabled):hover {
    color: var(--ef-color-primary-light-3);
  }
  &:not(.ef-link__underline):hover  {
    text-decoration: none;
  }
}
.ef-link__underline {
  text-decoration: underline;
  &:not(.ef-disabled):hover {
    text-decoration: underline;
  }
}
@each $t in $types{
  .ef-link--type-#{$t} {
    color: var(--ef-color-#{$t});
    &:not(.ef-disabled):hover {
      color: var(--ef-color-#{$t}-light-3);
    }
  }
}