@use "sass:math";

.ef-row {
  position: relative;
  box-sizing: border-box;
}
.ef-col {
  box-sizing: border-box;
}
[class*=ef-col-].is-guttered {
  display: block;
  min-height: 1px;
}

@for $i from 1 to 24 {
  .ef-col-#{$i} {
    max-width: math.div($i, 24)*100%;
    flex: 0 0 math.div($i, 24)*100%;
  }
  .ef-col-offset-#{$i} {
    margin-left: math.div($i, 24)*100%;
  }
  .ef-col-push-#{$i} {
    position: relative;
    left: math.div($i, 24)*100%;
  }
  .ef-col-pull-#{$i} {
    position: relative;
    right: math.div($i, 24)*100%;
  }
}

$sizes: (xs: 'max-width: 768px', sm: 'min-width: 768px', md: 'min-width: 992px', lg: 'min-width:1200px', xl: 'min-width:1920px');
@each $label, $width in $sizes{
  @media only screen and ($width) {
    @for $i from 1 to 24 {
      .ef-col-#{$label}-#{$i} {
        display: block;
        max-width: math.div($i, 24)*100%;
        flex: 0 0 math.div($i, 24)*100%;
      }
      .ef-col-#{$label}-offset-#{$i} {
        margin-left: math.div($i, 24)*100%;
      }
      .ef-col-#{$label}-push-#{$i} {
        position: relative;
        left: math.div($i, 24)*100%;
      }
      .ef-col-#{$label}-pull-#{$i} {
        position: relative;
        right: math.div($i, 24)*100%;
      }
    }
  }
}
